@font-face {
    font-family: 'Weather-Icons';
    font-style: normal;
    font-weight: normal;
    src: url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/font/weathericons-regular-webfont.ttf");
}

.bgimg {
    background-image: url("{{ url_for('static', filename='img/canyon.jpg') }}");

    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: "Helvetica", sans-serif;

}




h1 {
    font-size: 3em;
    text-align: center;
    color: #000;
    font-weight: 300;

}

/*--main--*/
.main {
    padding: 1em 0 0;
}

.main-info {
    width: 70%;
    margin: 1em auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1em;
    border-radius: 5px;

}

/*--//main--*/
.weather-grids {
    float: left;
    width: 33%;
}

.weather-grids.weather-mdl {
    text-align: center;
}

.weather-grids:nth-child(3) {
    text-align: right;
}

.weather-grids h3 {
    font-size: 1.5em;
    color: #fff;
}

.weather-grids h2.cur {
    font-weight: 600;
    color: #FFF;
    margin-top: 0.7em;
}

.weather-grids h2 {
    font-size: 2em;
    font-weight: 300;
    color: #fff;
}

.weather-grids h4 {
    font-size: 1em;
    color: #fff;
}

.weather-bottom {
    text-align: center;
    margin: 2em auto;
    display: flex;
    justify-content: center;


}

.weather-bottom ul li {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 5px;

    width: 16%;
}

.weather-bottom ul li.bg {
    display: inline-block;
    padding: 10px;
}

.weather-bottom h4 {
    font-size: 1.2em;
    color: #0f88ff;
    font-weight: 400;
}

figure.icons {
    margin: 0.5em 0;
}

.weather-bottom h5 {
    font-size: 1.2em;
    color: #fff;
    font-weight: 600;
}

.weather-bottom h6 {
    font-size: 1em;
    color: #0f88ff;
    ;
    margin-top: 0.5em;
}

.temperature-wrapper {
    display: flex;
    justify-content: center;
}

.show-temp {
    display: flex;
    position: relative;

}


#metrics {


    color: #0f88ff;
    position: relative;
    top: -0.4em;
    right: -0.2em;
    font-size: 10vh;
}


#metrics:hover {
    color: #90ee90;
}

#metrics:after {
    font-family: 'Weather-Icons';
    content: attr(data-icon);
}

/*--copyright--*/
.copyright {
    margin: 2em 0 1em;
    text-align: center;
    display: block;
    color: #fff;
}

.copyright p {
    font-size: 1.1em;
    color: #fff;
    line-height: 1.8em;
}

.copyright p a {
    color: #fff;
}

.copyright p a:hover {
    color: #314277;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}